/* Global styles */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

header {
	background-color: #FCCC0A;
	padding: 10px 20px;
}

header h1 {
	color: #000;
	font-size: 36px;
	font-weight: bold;
	align: center
}
header img {
  height: 50px;
  margin-right: 10px;
}
nav {
	display: flex;
	justify-content: flex-end;
	margin-top: 10px;
}

nav ul {
	display: flex;
	list-style: none;
}

nav li {
	margin-left: 20px;
}

nav a {
	color: #000;
	text-decoration: none;
}

main {
	max-width: 960px;
	margin: 0 auto;
	padding: 20px;
}

form {
	background-color: #F9F9F9;
	border-radius: 5px;
	padding: 20px;
}

label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

input[type="text"], input[type="number"] {
	padding: 5px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

input[type="submit"] {
padding: 10px 20px;
background-color: #fbd404;
color: #fff;
border-radius: 5px;
border: none;
cursor: pointer;
font-size: 16px;
transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
background-color: #dcbe0c;
}

#error-msg {
color: red;
font-size: 16px;
margin-top: 10px;
}

.costs-inputs {
display: flex;
flex-wrap: wrap;
margin-bottom: 20px;
}

.costs-inputs label {
flex-basis: 100%;
}

.costs-inputs input[type="text"] {
flex-basis: calc(20% - 10px);
margin-right: 10px;
}

.footer {
background-color: #FCCC0A;
color: #fff;
padding: 10px 20px;
text-align: center;
font-size: 16px;
}