<!DOCTYPE html>
<html>
<head>
	<title>NYC Taxi Transportation Optimization Problem</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
	<header>
		<h1>NYC Taxi Transportation Optimization Problem</h1>
		<h2>By - R001,R023,R032,R033,R036,R038 </h2>
	</header>
	<main>
		<form method="POST" enctype="multipart/form-data">
			<div class="input-container">
				<label for="demand">Demand (CSV file):</label>
				<input type="file" name="demand" id="demand" required>
			</div>
			<div class="input-container">
				<label for="costs">Cost Matrix (CSV file):</label>
				<input type="file" name="costs" id="costs" required>
			</div>
			<hr>
			<input type="submit" value="Submit">
		</form>
	</main>
	<footer>
		<p>&copy; 2023 NYC Taxi Transportation Optimization Problem. All rights reserved.</p>
	</footer>
	<script src="/static/script.js"></script>
</body>
</html>
